.clearfix {
    clear:both;
}
.banner p {
    margin-bottom: 15px;
    /*font-size: 21px;*/
    font-weight: 200;
 }

 .banner {
    background: url(../images/banner.png) center no-repeat;
		background-size: cover;
		
 }
.inlinecenter {
    text-align:center;
}
.blockcenter {
    margin:0 auto;
    text-align:center;
}

.accentColor {
    color:#ffe555;
}
.primaryColorLt {
    color:#f6f3f7;
}

.blackBorder {
    border:1px solid #000;
}

.prev {
    padding: 0 8rem 0 0;
}
.next {
    padding: 0 0 0 8rem;
}
.ratingBox {
    text-shadow: 1px 1px 1px #000;
    /* padding: 5px; 
    width: 10.3rem;*/
    margin: 15px 0 0 0;
    text-align:center;
    
}

.ratingBox:hover {
    color: #3b205d;
    /*font-size:15px;*/
    
}

#resume, #portfolio {
    background: #3b205d;
    width:100%;
    min-height:40rem;
    font-size: 19px;
    /*padding-top:38px;*/
}

#resume a {
    color:#ffe555;
}

#resume a:hover,a:focus {
    font-weight: 400;
}

#profile, #skills {
    background:#fff;
    width:100%;
    min-height:40rem;
    color:#3b205d;
    
}

#resume, #skills, #portfolio {
    padding:38px 0;
}

#profile h2,
#profile p,
#skills h2,
#skills p {
    color:#3b205d;
}

#skills p {
    font-size: 2rem;
    font-weight: 300;
    margin:3px;
}

.row.skills:hover {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size:15px;
}

#profile {
    min-height:450px;
}

#profile .boldText, 
#resume .boldText {
    font-weight:400;
}
#profile img {
    width: 25rem;
    border: 1px solid #3b205d;
    border-radius: 50%;
    margin: 3rem 0;
    box-shadow: 2px 2px 18px #a6a5a7;
}
#profile a:hover,
#profile a:active, {
   color: #f6f3f7;
}

#resume a:hover,
#resume a:active {
    color:#ffe555;
    text-decoration: none;
    font-weight:300;
}

#resume h2, #skills h2, #portfolio h2 {
    font-size:5rem;
    font-weight: inherit;
    text-align:center;
    margin: 1rem 0;
}

#resume p {
    color: #f6f3f7;
    font-weight: inherit;
    text-align: center;
}

#resume h3, #portfolio h3 {
    font-weight: inherit;
    font-size:  3rem;
}

.hero {
    font-weight: 100;
    letter-spacing: .3rem;
    
    color:#f6f3f7;
}
.learnmore {
    font-size:90%;
    font-weight: 400;
    cursor:pointer;
}
.unhideme {
    /*display:block;*/
    opacity: 1;
    transition: opacity .5ms;
}
.hideme {
    /*display:none;*/
    opacity:0;
    transition: opacity 0.5ms;
}

.herosub {
    font-weight: inherit;
    font-size: 20px;
    letter-spacing: .3rem;
}
.name {
    margin:1% 0;
}

.name p {
    margin-bottom:2rem;
}
.head {
		font-weight:400;
		font-size:2rem;
}

.primary {
    font-size:6rem;
}

.secondary {
    font-size:4rem;
}

.tertiary {
    font-size:2rem; 
}
.about {
    margin-top: 8rem;
}

.moveToTop {
    margin-top: 4rem;
    transition: margin-top .8s;
}

.padded {
    padding: 0 7%;
}
.resume-padded {
    margin: 0 0 1rem 0;
}
.skills-padded {
    padding: 0 0% 0 12%;
}

.social {
    font-family: FontAwesome;
    font-size: 2rem;
    color: #3b205d;
}
.fa-arrow-right, .fa-arrow-left {
    color: #ffe555;
}

ul {
    list-style-type: circle;
    margin-left: -15px;
    margin:0;
}
li {
    padding-top:5px;
}

.sectionSlide {
    top: 0;
    position: absolute;
    transition: top  .5s;
}


.portBox {
    height: 24rem;
    margin: 2rem auto;
    overflow: hidden;
    text-align: center;
  }

.portBox h4 {
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: nowrap;
}

.portBox.showme {
    font-size:90%;
    opacity:1;
}

.portBox.hideme {
    opacity:0;
}
.portBox img {
    width:100%;
}

.neonatal {
    background-image: url(../images/neonatal.png);
    /* background-size: cover; */
    background-position-y: 3rem;
    background-repeat: no-repeat;
}
.hrret {
    background-image: url(../images/hrret.png);
    /* background-size: cover; */
    background-position-y: 3rem;
    background-repeat: no-repeat;
}
.prepta {
    background-image: url(../images/prep.png);
    /* background-size: cover; */
    background-position-y: 3rem;
    background-repeat: no-repeat;
}
/*.portBox:hover {
    opacity:0.2;
    transition: opacity 0.5s;
}*/

.description {
    width: 96%;
    display: none;
    /*-webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;*/
    position: absolute;
    color: #f6f3f7;
    text-align: center;
    top: 0;
    margin-top: 0;
    height: 100%;
    background: #3b205d;
    font-weight: 500;
    border: 1px solid #f6f3f7;
    border-radius: 5px;
    /* margin-left: 40%; */
    opacity: .9;
    

}

.descrContent {
    /*width: 78%;*/
    margin: 0 auto;
    opacity: 1;
    padding: 10px 10px;
    font-size: 1.5rem;
}

.descrHead {
 /*text-shadow: 1px 1px 3px #AAA;*/
    font-size: 2.3rem;
    margin-top:.5rem;
}
.fa-external-link {
    color:#3b205d;
    font-size: 1.5rem;
}
/* typography */

@media (min-width: 375px) {
    .mobile-no-show {
      display:none;
  }
  .hero {
    font-size: 60px;
  }
  .skills-padded {
    clear: both;
  }
  
  .row.skills {
    padding-left: 0;
    width: 100%;
    margin: 0 auto;

  }
  .hero {
    font-size: 60px;
  }
  .mobile-no-show {
    display:none;
  }
  .portBox h4 {
    font-weight: 400;
    background: #f6f3f7;
    color: #3b205d;
    text-align: center;
    padding: .5rem;
    }
    
	.primary {
			font-size:5rem;
	}
	.secondary {
			font-size:3rem;
	}
	.tertiary {
			font-size:1.5rem;
	}
	.about.p {
		font-size: 1.7rem;
	}
.banner {
	min-height: 294px;
}
}


@media (min-width: 768px) {
    .navbar {
      border-radius: 4px;
    }
    .navbar-header {
      float: left;
    }
    .hero {
      font-size:93px;
    }
    .row.skills {
       padding-left: 0;
       width:71%;
       margin: 0 auto;
    }
    .portBox { 
			height: 15rem;
    } 
.portBox h4 {
            font-size: 15px;
    }
    .descrHead {
        font-size: 1.6rem;
        margin-top: .5rem;
    }
    .descrContent {
        font-size: 1rem;
    }
.banner {
    min-height: 300px;
}
  }

  @media (min-width:990px) {
			
    .descrHead {
        font-size: 1.8rem;
        margin-top:.5rem;
    }
    .descrContent {
        font-size: 1.5rem;
    }
    .portBox { 
        height: 20rem;
    }
    .resumeLeft {
        font-size: 1.3rem;
    }
  }

  @media (min-width:1110px) {
    .primary {
        font-size:6rem;
    }
    .secondary {
        font-size:4rem;
    }
    .tertiary {
        font-size:2rem;
            }
    .about.p {
        font-size: 2rem;
    }
    .descrHead {
        font-size: 2.3rem;
    }
    .portBox h4 {
        font-size: 16px;
    }
    .padded {
        padding: 0 7%;
    }
				
  }


